/log
.terraform
terraform.tfstate
*.tfstate*
terraform.tfvars
accessKeys.csv
*private_key.pem

#  Local .terraform directories
.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*
eks-state

kubeconfig
*.vscode
*.DS_Store


# Credentials
credentials.json
sa.json
# dev/openvpn/
# production/openvpn/
*.ovpn
*.pem
*.pub
